.has-error {
    background-color: #ff000026!important;
}
.custom-checkbox input.has-error:not(:checked) + label::before {
    background-color: rgba(255, 0, 0, 0.3);
    border-color: rgba(255, 0, 0, 0.3);
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-success hr {
    border-top-color: #c9e2b3;
}
.alert-success .alert-link {
    color: #2b542c;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-info hr {
    border-top-color: #a6e1ec;
}
.alert-info .alert-link {
    color: #245269;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-warning hr {
    border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
    color: #66512c;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-danger hr {
    border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
    color: #843534;
}
.alert {
    padding-left: 80px;
    position: relative;
}
.alert.alert-info:before {content: "\f05a";}
.alert.alert-success:before {content: "\f058";}
.alert.alert-warning:before {content: "\f071";}
.alert.alert-danger:before {content: "\f06a";}
.alert:before {
    position: absolute;
    left: 18px;
    font-size: 30px;
    top: 50%;
    font-family: FontAwesome;
    transform: translateY(-50%);
    margin-top: 0px;
}

.alert:after {
    background: url("./images/alert-seam.png") repeat-y 0 0;
    content: "";
    left: 60px;
    top: 4px;
    bottom: 3px;
    position: absolute;
    width: 5px;
}

/* .squaredThree
.squaredThree {
    position: relative;
}

.squaredThree label {
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 0;
    margin-bottom: 0;
    border-radius: 2px;
    border: 1px #e1e0eb solid;
}

.squaredThree label:after {
    width: 10px;
    content: "";
    height: 6px;
    top: 3px;
    position: absolute;
    left: 2px;
    border: 2px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredThree label:hover::after {
    opacity: 0.3;
}

.squaredThree input[type="checkbox"] {
    visibility: hidden;
    margin: 0;
}

.squaredThree input[type="checkbox"]:checked + label:after {
    opacity: 1;
    border-color: #8ebe3b;
}
.squaredThree input[type="checkbox"]:checked + label {
    background: #fff;
    border: 1px #fff solid;
    margin-right: 3px;
    color: #8ebe3b;
}

.squaredThree input.has-error:not(:checked) + label {
    background-color: rgba(255, 0, 0, 0.3);
    margin-right: 3px;
}
.agreedText {
    margin-left: 5px;
    line-height: 25px;
    font-size: 12px;
}
 */
